/* PC */
@media (min-width:1024px) {
    .menu-mobile-btn {
        display: none;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .menu-mobile-btn {
        display: none;
    }
}

/* mobile */
@media (max-width: 739px) {

    .nav > li {
        display: block;    
    }

    .menu-mobile-btn {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav > li:first-child {
        display: inline-block;
    }

    .search-btn {
        display: none;
    }

    .nav {
        width: 100%;
    }
}
