* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

#header {
    height: 46px;
    background-color: black;
    line-height: 46px;    
    top:0;
    width: 100%;
    position: fixed;
    z-index: 1;
    
}

#header .nav {
    display: inline-block;
}

#header .nav > li {
    display: inline-block;
    position: relative;
    margin-left: -5px;
}

#header .nav > li > a {
    color: #fff;
    text-transform: uppercase;
    display: block;
}

#header .nav > li:hover > a{
    background-color: #ccc;
    color: #000;
}

#header .nav a {
    text-decoration: none;
    color: #fff;
    padding: 0 24px;
}

#header .nav .down_icon {
    font-size: 13px;
}


#header .subnav {
    display: none;
    position: absolute;
    top: 46px;
    left:0;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
}

#header .subnav li {
    width: 100%;
    list-style-type: none;
}

#header .subnav a {
    color: #000;
}

#header .subnav li:hover a {
    background-color: #ccc;
    display: block;
}

#header .nav li:hover .subnav {
    display: inline-block;
}

#header .search_btn {
    display: inline-block;
    float:right;
    height: 46px;           
}

#header .search_btn .search_icon {
    color: #fff;
    line-height: 46px;
    padding: 0 15px;
    font-weight: bolder;
}

#header .search_btn .search_icon:hover {
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    background: url(/assets/img/slider/newyork.jpg) top center / cover no-repeat;
    padding-top: 50%;
    z-index: 0;
    margin-top: 46px;
    position: relative;
}

#slider .slider_content {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    z-index: 0;
    padding-bottom: 47px;
}

#slider .slider_content .slogan{
    color: #fff;
    font-size: 24px;
    padding-bottom: 25px;
    letter-spacing: 4px;
}

#slider .slider_content .description {
    color: #fff;
    font-size: 15px;
    word-spacing: 3px;
}

#content {

}

#content .content_section,
#content .contact_section {
    padding: 64px 16px;
    width:800px;
    margin:0 auto;
}

#content .content_section .heading,
#content .tour_section .heading,
#content .contact_section .heading {
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-size: 30px;
    letter-spacing: 4px;
    padding: 10px 0px;
}

#content .content_section .subheading,
#content .tour_section .subheading,
#content .contact_section .subheading
 {
    text-align: center;
    color: #000;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
    padding: 15px 0px;
}

#content .content_section .band_content {
    color: #000;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: justify;
    padding: 15px 0px;
}

#content .band_member_list {
    /* padding-left: 55px; */
    text-align: center;

}

.content_section .band_member_list .member {
    display: block;
    float: left;
    /* margin: 0px 52px; */
    width: 33.33%;
}

.band_member_list .member .member_name {
    color: #000;
    font-size: 15px;
    /* width:154px; */
    width:100%;
    text-align: center;
    padding: 15px 0;
}

.band_member_list .member .member_img {
    width:154px;
    height:154px;
    border-radius: 5px;
    margin-bottom: 112px;
}

#content .tour_section {
    background-color: #000;
    height: 1000px;
    padding: 64px 16px 
}

#content .tour_section .heading, 
#content .tour_section .subheading {
    color: #fff !important;
}

.tour_section .ticket_counter {
    width:800px;
    margin:0 auto;
    margin-top: 25px;
    background-color: #fff;
    height: 118px;
}

.tour_section .ticket_counter .status_ticket {
    height: 39px;
    padding: 8px 16px;
    line-height: 22px;
    border-bottom: 1px solid #ccc;
}

.ticket_counter .status_ticket .month {
    color: #000;
    opacity: 0.6;
}

.ticket_counter .status_ticket .soldout {
    background-color: #f44336;
    color: #fff;
    padding: 4px 8px;
    margin-left: 16px;
    border-radius: 2px;
}

.ticket_counter .status_ticket .remain_ticket {
    color: #fff;
    float: right;
    background-color: #000;
    border-radius: 50%;
    padding: 0 8px;
    margin-right: 16px;
}

.place_section {
    width:800px;
    margin:0 auto;
    padding: 32px 0px;
}

.place_list {
    margin: 0 -8px;
}

.place_item {
    width: 33.333%;
    float: left;
    padding: 0 8px;
}

.place_img {
    width:100%;
    display: block;
}

.place_img:hover {
    opacity: 0.6;
    cursor: pointer;
}

.place_content {
    background-color: #fff;
    padding: 0px 16px;
}

.place_name {
    color: #000;
    font-weight: bold;
    margin: 15px 0px;
    display: inline-block;
    letter-spacing: 1px;
}

.place_time {
    color: #000;
    opacity: 0.6;
}

.place_decription {
    line-height: 1.4;
    margin: 15px 0px;
}

.place_btn {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
    display: inline-block;
    margin-bottom: 16px;
    border: none;
}

.place_btn:hover {
    background-color: #ccc;
    color: #000;
}

/* contact */

.contact_content {
    padding:32px 0px;
}

.contact_info {
    float: left;
    width: 45%;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.contact_form {
    float: right;
}

.form-info {
    width: 100%;
}

.contact-name {
    width: 50%;
    float: left;
    margin-left: -8px;
}

.contact-email {
    float: right;
    width: 50%;
    margin-right: -8px;
}

.contact-name, 
.contact-email,
.contact-message {
    height: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.contact-message {
    width: 104%;
    margin-left: -8px;
    margin-top: 8px;
}

.contact-btn {
    margin: 16px 0;
    padding: 10px 16px;
    float: right;
    margin-right: -8px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 15px;
}

.contact-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.map {
    width: 100%;
    filter: grayscale(50%);
}

#footer {
    padding: 64px 16px;
}

.social-icon {
    text-align: center;
}

.social-icon i {
    font-size: 24px;
}

.social-icon i:hover {
    cursor: pointer;
    opacity: 0.6;
}

.copyright {
    font-size: 15px;
    padding: 15px 0px;
    text-align: center;
    color: #000;
    opacity: 0.6;
}

.copyright a {
    color: #000;
}

.modal {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 1;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.open {
    display: flex;
}

.modal .modal-container {
    width: 800px;
    min-height: 200px;
    background-color: #fff;
    position: relative;
    animation: modal_Animation ease 0.4s;
}

.modal-container .modal-close {
    position: absolute;
    right: 0;
    top:0;
    padding: 8px 16px
}

.modal-container .modal-close:hover {
    background-color: #ccc;
    cursor: pointer;
}

.modal-container .modal-close .close-icon {
    font-size: 12px;
    display: block;
    height: 36px;
    line-height: 36px;  
}

.modal-container .modal-header {
    background-color: #009688;
    color: #fff;
    font-size: 30px;
    height: 130px;
    line-height: 130px;
    text-align: center;
    letter-spacing: 4px;
}

.modal-container .modal-body {
    padding: 16px;
}

.modal-container .modal-body .modal-label {
    display: block;
    font-size: 15px;
}

.modal-container .modal-body .modal-input {
    width: 100%;
    min-height: 40px;
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.modal-container .modal-body .modal-btn {
    width: 100%;
    height: 54px;
    background-color: #009688;
    padding: 16px;
    margin-bottom: 16px;
    font-size: 15px;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

.modal-container .modal-body .modal-btn:hover {
    background-color: #ccc;
    color: #000;
}

.modal-container .modal-footer {
    width: 100%;
}

.modal-container .modal-footer .modal-help {
    width: 100%;
    text-align: right;
    margin: 18px 0;
}

.modal-footer .modal-help a {
    color: #2196F3;
}

@keyframes modal_Animation {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(-0px);
    }
}